APP_NAME="{{ getenv "APP_NAME" }}";
APP_ENV="{{ getenv "APP_ENV" }}";
APP_KEY="{{ getenv "APP_KEY" }}";
APP_DEBUG="{{ getenv "APP_DEBUG" }}";
LOG_CHANNEL="{{ getenv "LOG_CHANNEL" }}";
APP_URL="{{ getenv "APP_URL" }}";

DB_CONNECTION="{{ getenv "DB_CONNECTION" }}";
DB_HOST="{{ getenv "DB_HOST" }}";
DB_PORT="{{ getenv "DB_PORT" }}";
DB_DATABASE="{{ getenv "DB_DATABASE" }}";
DB_USERNAME="{{ getenv "DB_USERNAME" }}";
DB_PASSWORD="{{ getenv "DB_PASSWORD" }}";

MAIL_DRIVER="{{ getenv "MAIL_DRIVER" }}";
MAIL_HOST="{{ getenv "MAIL_HOST" }}";
MAIL_PORT="{{ getenv "MAIL_PORT" }}";
MAIL_USERNAME="{{ getenv "MAIL_USERNAME" }}";
MAIL_PASSWORD="{{ getenv "MAIL_PASSWORD" }}";
MAIL_ENCRYPTION="{{ getenv "MAIL_ENCRYPTION" }}";

CACHE_DRIVER="{{ getenv "CACHE_DRIVER" }}";
SESSION_DRIVER="{{ getenv "SESSION_DRIVER" }}";
QUEUE_DRIVER="{{ getenv "QUEUE_DRIVER" }}";
SESSION_DRIVER="{{ getenv "SESSION_DRIVER" }}";
SESSION_LIFETIME="{{ getenv "SESSION_LIFETIME" }}";

REDIS_HOST="{{ getenv "REDIS_HOST" }}";
REDIS_PASSWORD="{{ getenv "REDIS_PASSWORD" }}";
REDIS_PORT="{{ getenv "REDIS_PORT" }}";

MIX_PUSHER_APP_KEY="{{ getenv "MIX_PUSHER_APP_KEY" }}";
MIX_PUSHER_APP_CLUSTER="{{ getenv "MIX_PUSHER_APP_CLUSTER" }}";

AUTHY_SECRET="{{ getenv "AUTHY_SECRET" }}";

STRIPE_MODEL="{{ getenv "STRIPE_MODEL" }}";
STRIPE_KEY="{{ getenv "STRIPE_KEY" }}";
STRIPE_SECRET="{{ getenv "STRIPE_SECRET" }}";

BRAINTREE_MODEL="{{ getenv "BRAINTREE_MODEL" }}";
BRAINTREE_ENV="{{ getenv "BRAINTREE_ENV" }}";
BRAINTREE_MERCHANT_ID="{{ getenv "BRAINTREE_MERCHANT_ID" }}";
BRAINTREE_PUBLIC_KEY="{{ getenv "BRAINTREE_PUBLIC_KEY" }}";
BRAINTREE_PRIVATE_KEY="{{ getenv "BRAINTREE_PRIVATE_KEY" }}";

BROADCAST_DRIVER="{{ getenv "BROADCAST_DRIVER" }}";
PUSHER_APP_ID="{{ getenv "PUSHER_APP_ID" }}";
PUSHER_KEY="{{ getenv "PUSHER_KEY" }}";
PUSHER_SECRET="{{ getenv "PUSHER_SECRET" }}";
PUSHER_APP_CLUSTER="{{ getenv "PUSHER_APP_CLUSTER" }}";

SENTRY_DSN="{{ getenv "SENTRY_DSN" }}";
LOGGLY_TOKEN="{{ getenv "LOGGLY_TOKEN" }}";

AWS_ACCESS_KEY_ID="{{ getenv "AWS_ACCESS_KEY_ID" }}";
AWS_SECRET_ACCESS_KEY="{{ getenv "AWS_SECRET_ACCESS_KEY" }}";
AWS_DEFAULT_REGION="{{ getenv "AWS_DEFAULT_REGION" }}";
AWS_BUCKET="{{ getenv "AWS_BUCKET" }}";